body {
    font-family: 'Exo 2', sans-serif;
    color: #ddd;
    background-color: #222;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

header h1, nav a {
    color: #fff;
}

nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 5px;
}

nav a i {
    margin-right: 10px;
}

.version-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    opacity: 0.5;
}


main {
    margin-left: 220px; /* Adjusted margin to create space for the sidebar */
    padding: 20px;
}

@media screen and (max-width: 319px) {
    nav {
        width: 100%;
        height: auto;
        position: static;
        overflow-y: hidden;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    nav a {
        width: 45%;
        margin: 5px;
    }
    main {
        margin-left: 0;
    }
}